<div class="product-item-block-wrapp">
    <div class="products-item">
        <div class="product-item--img">
            {% if product.imageName %}
            <a href="{{ path('product_show_by_name',{'slug': product.slug}) }}">
            <img class="img-thumbnail" src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('products_list') }}" alt="{{ product.name }}" />
            </a>
            {% endif %}
        </div>
        <div class="product-item--title">
            {{ product.name }}
        </div>
        <div class="product-item--price">
            {{ product.price }}
        </div>
        <div class="product-item-action">
            <a class="btn btn-primary" href="{{ path('product_show_by_name',{'slug': product.slug}) }}">Подробнее</a>
            <a class="btn btn-danger" href="#">Купить</a>
        </div>
    </div>
</div>