{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ h1 }}</h1>
    {% for message in app.flashes('notice') %}
        <p class="alert">{{ message }}</p>
    {% endfor %}
    <div class="content">
        <p>category show:  {{ category.name }}</p>

        <h2>Products :</h2>

        {% for product in category.products %}
            <a href="{{ path('product_show', {"id": product.id}) }}">
                {{ product.name }}
            </a>
            <p>price: {{ product.price|number_format(2) }}</p>
        {% endfor %}

    </div>
{% endblock %}