<div class="container">
    <table class="cart_table">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }} грн.</td>
                <td>{{ item.count}}</td>
                <td>{{ item.amount}} грн.</td>
                <td><a href="{{ path("remove_item", {'id': item.id }) }}">delete</a></td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="2">Всего:</td>
            <td>
                {{ cart.count }}

            </td>
            <td>
                {{ cart.amount }} грн.
            </td>
        </tr>
        </tbody>
    </table>
</div>