<h1>Ваш заказ на сайте <a href="{{ url('home') }}">{{ url('home') }}</a></h1>

{% include 'order/item.html.twig' with {'order': order} %}

<h2>Вы ввели:</h2>

<p>{{ order.customerName }}</p>
<p>{{ order.email }}</p>
<p>{{ order.phone }}</p>
<p>{{ order.address }}</p>